<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="app">
  <div v-if="books.length">
    <table>
      <thead>
      <tr>
        <th></th>
        <th>书籍名称</th>
        <th>出版日期</th>
        <th>价格</th>
        <th>购买数量</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(b, i) in books">
        <td>{{b.id}}</td>
        <td>{{b.name}}</td>
        <td>{{b.date}}</td>
        <td>{{b.price | showPrice}}</td>
        <td>
          <button @click="decrement(i)" v-bind:disabled="b.count <= 1">-</button>
          {{b.count}}
          <button @click="increment(i)">+</button>
        </td>
        <td><button @click="removeHandle(i)">移除</button></td>
      </tr>
      </tbody>
    </table>
    <h2>总价格：{{totalPrice | showPrice}}</h2>
  </div>
  <h2 v-else>购物车为空</h2>
</div>


<script src="../../js/vue.js"></script>
<script src="main.js"></script>
</body>
</html>