<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
  {{message}}
<!--  遍历过程中没有使用下标-->
  <ul>
    <li v-for="n in names">{{n}}</li>
  </ul>
  <br>
  <!--  遍历过程中使用下标-->
  <ul>
    <li v-for="(n, i) in names">
      {{i + 1}}.{{n}}
    </li>
  </ul>
</div>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: "#app",
    data: {
      message: "Hello",
      names: ["qwe", "sdf", "hgfd", "ewfd", "fdg"]
    }
  })
</script>
</body>
</html>